.wallpaper-fundo-membros {
    height: 900px;
    background: url("../img/minecraft_caverna_wallpaper.png") no-repeat center;
    background-size: cover;
    position: relative;
}

.texto-membros-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    color: white;
    font-size: 75px;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgb(138,43,226);
}

.texto-membros-descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Arial', Helvetica, sans-serif;
}

.btn-membros {
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center;
    position: relative;
    margin-top: -130px;  /* Valor negativo move o botão para cima, e positivo para baixo*/
    margin-bottom: 350px;
}

.membros-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.membros-card-item {
    width: 650px;
    height: 350px;
    background-color: rgb(136, 18, 18);
    display: flex;
    font-size: 35px;
    justify-content: center; /*centraliza vertical*/
    align-items: center; /*centraliza horizontal*/
    border-radius: 35px;
    text-align: center;
    transform: rotate(3deg); /*inclina a div 3 graus para a direita*/
    box-shadow: 1px 1px 150px rgb(139, 21, 12);
    margin-top: -75px;
}

.membros-card-texto {
    color: rgb(255, 255, 255);
}

.container-parceria {
    display: flex;
    justify-content: center;
    align-items: flex-start;/* alinha pelo topo */
    gap: 40px;
    padding-top: 100px;
}

.parceria, .tipo-parceria {
    width: 450px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.parceria-texto, .parceria-titulo-abaixo {
    color: aliceblue;
}

.parceria-texto p {
    font-size: 20px;
}

.parceria-titulo-abaixo p {
    font-size: 17px;
}

.parceria {
    background-color: rgb(85, 11, 11);
}

.tipo-parceria {
    background-color: rgb(77, 13, 13);
}

.parceiros-btn {
    color: #fff;
    background-color: #5e1010;
    border-radius: 12px;
    padding: 10px 20px; /* padding interno */
    font-weight: bold;
    transition: 0.3s ease;
}

.parceiros-btn:hover {
    color: #fff;
    background-color: #b31717;
    border-radius: 12px;
    padding: 10px 20px; /* padding interno */
    font-weight: bold;
    transition: 0.3s ease;
    transform: scale(1.04);
}

.btn-parceiros {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.container-toast {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    border-left: 5px solid #dc3545;
    border-radius: 10px;
    overflow: hidden;
}

.toast-body {
    font-weight: 500;
}

.toast-header {
    font-size: 14px;
}

.toast-header img {
   width: 35px;
   height: 35px;
}

@media (max-width: 768px) {

  .texto-membros-titulo {
      font-size: 40px;
      padding-top: 300px;
      text-align: center;
    }

  .texto-membros-descricao {
      font-size: 25px;
      text-align: center;
    }

    .membros-card {
        margin-left: 15px;
        width: 380px;
        height: 200px;
    }

    .membros-card-texto {
        font-size: 27px;
    }

    .parceria-texto p {
        font-size: 18px;
    }
}