body{
background-color: #252121;
}


.navbar-limit {
    max-width: 60%;
    background-color: rgba( 120, 20, 40, 0.20); /*52, 21, 57,*/
    border-radius: 10px;
}

.redstone-text {
    color: #ff0000 !important;
    font-family: 'Orbitron', Arial, sans-serif;
    text-shadow: 0 0 5px #5e1010;
}

.navbar .nav-link {
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease;
}

/*
não sei como usar uma classe prória nesse elemento,
por isso ainda ta com o nome generico
no de baixo e acima desse comentario
*/

.navbar .nav-link:hover {
  color: #ff0000;
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropdown-item {
    color: #000000 !important;
}

.dropdown-item:hover {
    background: rgba(255, 0, 0, 0.2) !important;
    color: #ff0000 !important;
}

.wallpaper-fundo {
    height: 900px;
    background-repeat: no-repeat;
}

.wallpaper-fundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-principal-container {
    color: #ffffff;
    text-shadow: 2px 2px 8px #6d0000;
    position: absolute;
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    font-size: 100px;
    top: 300px;
    left: 400px;
    flex-direction: column;
}

.subtitulo {
    color: #ffffff;
    text-shadow: 2px 2px 8px #000;
    position: absolute;
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    top: 600px;
    left: 406px;
    flex-direction: column;
}

 main {
    margin-top: -100px; /*puxa o card para cima por causa do valor negativo*/
    position: relative; /*permite usar o z-index*/
    z-index: 2; /*faz o card ficar em cida do wallpaper*/
 }

.card-texto {
    width: 999px;
    height: 350px;
    background-color: rgb(85, 16, 16);
    display: flex;
    font-size: 35px;
    justify-content: center; /*centraliza vertical*/
    align-items: center; /*centraliza horizontal*/
    border-radius: 18px;
    text-align: center;
    transform: rotate(3deg); /*inclina a div 3 graus para a direita*/
    z-index: 2;
    /*COLOCAR UMA SOMBRA EM BAIXO DA DIV!!!*/
}

.texto-s-inc {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    transform: rotate(-3deg); /*impede de que o texto fique 3 graus a direita igual a div card-texto*/
    z-index: 2;
}

.card-borda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.oferta-plano {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}

.card-oferta {
    width: 999px;
    height: 350px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /*alinha verticalmente o texto*/
}

.texto-oferta {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.btn-planos {
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center;
    position: relative;
    margin-top: -130px;  /* Valor negativo move o botão para cima, e positivo para baixo*/
}

/*arrumar a porra do card, centralizar essa merda, e fazer ficar responsivo essa desgraça*/



footer {
    background-color: #000;
    padding: 45px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.redes-sociais img {
    height: 35px;
    width: 35px;
    transition: 0.4s ease;
}

.redes-sociais img:hover {
    transition: 0.4s ease;
    transform: scale(1.2);
}
